*.pyc
*.log
*.idea
*.ipynb_checkpoints
*__pycache__

# Do not include models and input files
*.h5
*.bin
*.tflite
*.pt
*.csv

# Specific masks for the notebooks folder
notebooks/models/*
notebooks/profiling_output/*
notebooks/data/*
notebooks/layer_activations/*
*.npz
*.npy
